
section{
    padding-top: 2rem;
    height: auto;
}
.aims{
    margin-top: 3rem;
}
.obj li{
 list-style-type: disc;
}
.obj{
    padding-left: 1rem;
}
.div2{
    height: auto;
    background-image: url(/img/children.jpg);
    background-position: center;
    background-position-y: -30rem;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 5rem;
    width: 96%;
    margin-left: 2%;
    border-radius: 2.5rem;
    
}
h3{
    font-size: 1.8rem;
}
li{
    list-style: none;
}
.left{
    text-align: center;
    
}
.narrowTxt{
    width: 80%;
    margin-left: 10%;
}
.div2{
    width: 80%;
    padding-bottom: 10rem;
    margin-left: 10%;
    margin-top: -5rem;
}
.div2 h2{
    color: #FEB414;
}
.div2 p{
    color: white;
}
.div2 hr{
    border: 2px solid #FEB414;
}

.section2{
    flex-direction: column;
}
.section2 h2{
    text-align: center;
}
.section2 p{
    text-align: center;
}
.section2 a{
    text-decoration: underline;
    color: #FEB414;
}
h2{
    padding-bottom: 2rem;
}
#statute-a{
    float: left;
    margin-left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    margin-top: 3rem;
    background-color: #FEB414;
    border: 2px solid #FEB414;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition-duration: 0.2s ease-in;
}


